{% extends 'shared/layout.html.twig' %}

{% block title %}About{% endblock %}

{% block styles %}
    <style></style>
{% endblock %}

{% block body %}

    <section>
        <h1>Hyper</h1>
        <hr>
        <p>Welcome to the about page.</p>
    </section>

{% endblock %}

{% block scripts %}
    <script></script>
{% endblock %}
