{% extends 'shared/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block styles %}
    <style>
        /*Page specific css*/
    </style>
{% endblock %}

{% block body %}

    <section>
        <img src="{{ img('logo.png') }}" height="32.8" width="84.5" alt="">
        <h1>Hyper</h1>
        <hr>
        <p>Welcome to your home</p>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        //Page specific scripts
    </script>
{% endblock %}
