{% compress %}

    <!doctype html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - Hyper</title>
        <link rel="stylesheet" href="/boilerplate/assets/css/style.css">
        {% block styles %}{% endblock %}

    </head>

    <body>

    <nav>
        <a href="/">Home</a>
        <a href="/home/about">About</a>
    </nav>

    {% block body %}{% endblock %}

    <script type="text/javascript" src="/boilerplate/assets/js/script.js"></script>
    {% block scripts %}{% endblock %}

    </body>

    </html>

{% endcompress %}